* {
	/* border-top: 10px solid #1098ad; */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* PAGE SECTION */
body {
	color: #444;
	font-family: sans-serif;
	border-top: 10px solid #1098ad;
}

.container {
	width: 1300px;
	margin: 0 auto;
}

.main-header {
	background-color: #f7f7f7;
	/* padding: 20px; */
	/* padding-left: 40px; */
	/* padding-right: 40px; */
	padding: 20px 40px;
	margin-bottom: 60px;
	height: auto;
}

nav {
	font-size: 18px;
}

article {
	margin-bottom: 60px;
}

.post-header {
	position: relative;
	margin-bottom: 40px;
}

aside {
	background-color: #f7f7f7;
	border-top: 5px solid #1098ad;
	border-bottom: 5px solid #1098ad;
	padding: 50px 40px;
}

/* SMALLER ELEMENTS */
h1,
h2,
h3 {
	color: #1098ad;
}

h1 {
	font-size: 26px;
	text-transform: uppercase;
	font-style: italic;
}

h2 {
	font-size: 35px;
	margin-bottom: 30px;
}

h3 {
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 40px;
}

h4 {
	margin-bottom: 30px;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}

p {
	font-size: 22px;
	line-height: 1.5;
	margin-bottom: 15px;
}

ul,
ol {
	margin-left: 50px;
	margin-bottom: 20px;
}

li {
	font-size: 20px;
	margin-bottom: 10px;
	/* display: inline; */
}

li:last-child {
	margin-bottom: 0;
}

/* footer p {
	font-size: 16px;
} */

/* article header p {
	font-style: italic;
} */

#author {
	font-style: italic;
	font-size: 18px;
}

#copyright {
	font-size: 16px;
}

.related-author {
	font-size: 18px;
	font-weight: 700;
}

.related {
	list-style: none;
	margin-left: 0;
}

/* .first-li {
	font-weight: 700;
} */

li:first-child {
	font-weight: 700;
}

li:last-child {
	font-style: italic;
}

li:nth-child(even) {
	/* color: red; */
}

/* Misconception: this won't work! */
article p:last-child {
	color: red;
}

/* Styling links */

a:link,
a:visited {
	color: #1098ad;
	text-decoration: none;
}

a:hover {
	color: orangered;
	font-weight: 700;
	text-decoration: underline green;
}

a:active {
	background-color: black;
	font-style: italic;
}

/* LVHA */

.post-img {
	width: 100%;
	height: auto;
}

nav a:link {
	display: inline-block;
	margin-right: 30px;
	margin-top: 10px;
}

nav a:link:last-child {
	margin-right: 0;
}

button {
	position: absolute;
	bottom: 50px;
	right: 50px;
	padding: 20px;
	font-size: 22px;
	cursor: pointer;
}

h1::first-letter {
	margin-right: 5px;
	font-style: normal;
}

h3 + p::first-line {
	/* color: red; */
}

h2 {
	position: relative;
}

h2::after {
	content: "TOP";
	position: absolute;
	top: -15px;
	right: -25px;
	display: inline-block;
	padding: 5px 10px;
	font-size: 16px;
	font-weight: 700;
	background-color: #ffe70e;
}

/* nav a:link,
nav p {
	font-size: 18px;
} */

/* FLOATS */
.author-img {
	float: left;
	margin-bottom: 20px;
}

.author {
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}

h1 {
	float: left;
}

nav {
	float: right;
}

.clear {
	clear: both;
}

.clearfix::after {
	clear: both;
	content: "";
	display: block;
}

article {
	width: 825px;
	float: left;
}
aside {
	width: 300px;
	float: right;
}
footer {
	clear: both;
}
